<section class="container mt-4">
  <div
    class="d-flex justify-content-center text-center flex-column align-items-center"
  >
    <h4>
      Designed and Developed with 💗
      <span class="also"
        >and also Angular, SCSS, API from Github, and a lot of other resources
        by</span
      >
    </h4>
    <div class="card align-items-center mt-2" style="width: 18rem;">
      <img
        class="card-img-top"
        src="../../assets/img.png"
        alt="My Awesome Photo"
      />
      <div class="card-body">
        <h5 class="card-title">Dev Chhaniyara</h5>
        <p class="card-text mb-0">Connect with me on</p>
        <div class="d-flex justify-content-center">
          <a href="" class="link m-2"
            ><i class="fa fa-instagram fa-2x icon" aria-hidden="true"></i
          ></a>
          <a href="" class="link m-2"
            ><i class="fa fa-linkedin-square fa-2x icon" aria-hidden="true"></i
          ></a>
          <a href="" class="link m-2"
            ><i class="fa fa-twitter fa-2x icon" aria-hidden="true"></i
          ></a>
          <a href="" class="link m-2"
            ><i class="fa fa-github fa-2x icon" aria-hidden="true"></i
          ></a>
          <a href="" class="link m-2"
            ><i class="fa fa-behance fa-2x icon" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    <h2 class="text-center mt-3">Referances</h2>
    <p>
      All the <b> Data </b> that is being shown here is coming from
      <a class="text-l" href="https://github.com/NovelCOVID/API" target="_blank"
        ><i class="fa fa-github-square" aria-hidden="true"></i> NovelCOVID/API
      </a>
    </p>
    <p>
      For <b>Design & Functionalities</b> I took referance from
      <a href="https://ncov2019.live" target="_blank">NCOV2019</a> &
      <a href="https://gocorona.ml/" target="_blank">GO-CORONA</a>, so please
      check them out too
    </p>
    <p>
      <b>Map</b> on Home page is built by
      <a href="https://bnonews.com/" target="_blank">BNO News</a>
    </p>
    <p>
      Also <b>Special thanks</b> to
      <a href="https://www.cdc.gov/" target="_blank">CDC</a> and
      <a href="https://www.who.int/" target="_blank">WHO</a>
    </p>
  </div>
</section>
