<section class="container">
  <!-- <div class="row">
    <div class="m-auto">
      <input type="text" [(ngModel)]="countryName" class="form-control m-4" placeholder="Country Name"
        (keyup)="getchanges()">
    </div>
  </div> -->
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let item of Alldata">
      <mat-card class="text-center mt-3 mb-2 justify-content-center align-items-center"
        routerLink="/country/{{item.country}}" style="cursor: pointer;">
        <mat-card-title><img src="{{ item.countryInfo.flag }}" alt="CountryFlaag"
            class="flag" />&nbsp;{{ item.country }}</mat-card-title>
        <hr />
        <div class="row">
          <div class="col-4 d-flex flex-column">
            <h6>
              Total Cases
            </h6>
            <p>
              {{ item.cases | number
              }}<span class="newCases" *ngIf="item.todayCases > 0">({{
                  (item.todayCases / item.cases) * 100 | number: ".2-2"
                }}%↑)</span>
            </p>
          </div>
          <div class="col-4 d-flex flex-column">
            <h6>
              Deaths
            </h6>
            <p>{{ item.deaths | number }}</p>
          </div>
          <div class="col-4 d-flex flex-column">
            <h6>
              Recovered
            </h6>
            <p>{{ item.recovered | number }}</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div class="bottom"></div>
</section>